@mixin menu_rectangle {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 372px;
  background: #999999;
  border-radius: 3px;
  @content;
}

@mixin button {
  position: absolute;
  margin-left: 2rem;
  width: 188px;
  height: 75px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #111111;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, rgba(255, 57, 152, 1) 0%, rgba(255, 129, 57, 1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  border-radius: 100px;
  background-color: white;
  @content;
}

@mixin Desktop {
  @media (min-width: 900px) {
    @content;
  }
}

header {
  .vector {
    position: absolute;
    top: 34px;
    left: 32px;
    right: 360px;
  }

  .menu {
    .rectangle_12 {
      @include menu_rectangle top: 41px;
    }
    .rectangle_13 {
      @include menu_rectangle top: 50px;
    }
    .rectangle_14 {
      @include menu_rectangle top: 59px;
    }
    @include Desktop {
      display: none;
    }
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }
  .links a {
    display: none;
    margin: 2rem;
    text-decoration: none;
    @include Desktop {
      display: block;
    }
  }
}

main {
  .hero {
    h4 {
      position: absolute;
      width: 169px;
      height: 19px;
      left: 32px;
      top: 148px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ff3998;
    }
    h1 {
      position: absolute;
      width: 274px;
      height: 116px;
      left: 32px;
      top: 191px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
      color: #111111;
    }
    p {
      position: absolute;
      width: 274px;
      height: 120px;
      top: 331px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #555555;
    }
    button {
      @include button() top: 483px;
    }
  }
  .hero img {
    position: absolute;
    width: 189.62px;
    height: 278px;
    left: 325px;
    top: 110px;
  }

  .upsell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(
      90deg,
      rgba(255, 57, 152, 1) 0%,
      rgba(255, 129, 57, 1) 100%
    );
    position: absolute;
    width: 428px;
    height: 326px;
    left: 0px;
    top: 638px;
  }
  h2 {
    margin-left: 2rem;
    width: 364px;
    height: 96px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
  }
  p {
    margin-left: 2rem;
    width: 364px;
    height: 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  .press {
    .hide {
      display: none;
    }
    left: 32px;
    display: flex;
    position: absolute;
    width: 364px;
    height: 117px;
    top: 1028px;
  }
  img {
    margin: 0 1rem 0.5rem 0;
    max-width: 300px;
  }
  .showcase {
    .showcase_text {
      position: absolute;
      width: 364px;
      height: 202px;

      h2 {
        position: absolute;
        top: 1201px;
      }
      p {
        position: absolute;
        top: 1313px;
      }
    }
    .nft_1 {
      position: absolute;
      width: 290px;
      height: 400px;
      left: 32px;
      top: 1443px;
      background: #eeeeee;
      border-radius: 16px;
    }
    .nft_2 {
      position: absolute;
      width: 290px;
      height: 400px;
      left: 362px;
      top: 1443px;
      background: #eeeeee;
      border-radius: 16px;
    }
    .nft_3 {
      position: absolute;
      width: 290px;
      height: 400px;
      left: 692px;
      top: 1443px;
      background: #eeeeee;
      border-radius: 16px;
    }
    .nft_4 {
      position: absolute;
      width: 290px;
      height: 400px;
      left: 1022px;
      top: 1443px;
      background: #eeeeee;
      border-radius: 16px;
    }
  }
  .footer_upsell {
    position: absolute;
    width: 683px;
    height: 630px;
    left: 0px;
    top: 1935px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    h4 {
      margin-left: 2rem;
      width: 651px;
      height: 19px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ff3998;
    }
    h1 {
      margin-left: 2rem;
      width: 274px;
      height: 204px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 900;
      font-size: 56px;
      line-height: 68px;
    }
    P {
      width: 207px;
      height: 120px;
      left: 32px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #555555;
    }
    button {
      @include button;
    }

    img {
      position: absolute;
      width: 206px;
      height: 467px;
      left: 253.52px;
      top: 163px;
    }
  }
}

footer {
  .left {
    position: absolute;
    width: 233px;
    height: 136px;
    left: 32px;
    top: 2629px;
  }

  img {
    width: 198px;
    height: 36px;
  }
  h6 {
    width: 233px;
    height: 20px;
  }
  svg {
    width: 15.64px;
    height: 18px;
  }

  .right {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 260px;
    height: 282px;
    left: 32px;
    top: 2829px;
  }
  .about {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }
  }
  .nft {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }
  }
  .social {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
    }
  }
  p {
    position: absolute;
    width: 286px;
    height: 20px;
    left: 32px;
    top: 3175px;
  }
}
